on: push

jobs:
  run_tests:
    runs-on: ubuntu-latest
    env:
      MIX_ENV: test
    steps:
      - name: Git checkout...
        uses: actions/checkout@v2
      - name: Prepare Elixir tests
        uses: mileschou/elixir-action@master
        run: args: mix local.hex --force
      - name: Run Elixir tests
        run: args: mix test.ci
